/* blog/static/css/custom_styles.css */

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  width: 80%;
  margin: 0 auto;
}

h1 {
  color: #007bff; 
}

.post {
  background-color: #f8f9fa; 
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); 
  overflow: hidden;
}

.post h2 {
  color: #007bff;
}

.post p {
  color: #495057; 
}

.form-container {
  max-width: 600px;
  margin: 20px auto;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.form-container label {
  display: block;
  margin-bottom: 12px;
  color: #007bff; 
}

.form-container input[type="text"],
.form-container textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #007bff; 
  border-radius: 5px;
}

.form-container input[type="submit"] {
  background-color: #007bff;
  color: #ffffff;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-container input[type="submit"]:hover {
  background-color: #0056b3; 
}

.post img {
  width: 100%; 
  max-width: 300px; /* Set a maximum width to control the image size */
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  float: left;
  margin-right: 20px;
}   
.post h2,
.post p {
  display: inline;
}

ul {
  list-style: none;
  padding: 0;
}
