/* blog/static/css/styles.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
  }
  
  h1 {
    color: #333;
  }
  
  .post {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .post h2 {
    color: #333;
  }
  
  .post p {
    color: #666;
  }
  
  .form-container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-container label {
    display: block;
    margin-bottom: 8px;
    color: #333;
  }
  
  .form-container input[type="text"],
  .form-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .form-container input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .form-container input[type="submit"]:hover {
    background-color: #45a049;
  }
  .post img {
    max-width: 10%;
    height: auto;
    border-radius: 5px; /* optional: add rounded corners to images */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* optional: add a subtle shadow */
}
